<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewImg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F40E2B411E791B5E004B1A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40E2B551E791B5F004B1A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40E2B601E791B5F004B1A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
