<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Filp_Coin_Factor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F43B24C41E6949F400E1DFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43B24DD1E6949F500E1DFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43B24E81E6949F500E1DFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
