<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContainerViev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F457C7881E8BC39F004E96A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F457C79C1E8BC39F004E96A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F457C7A71E8BC39F004E96A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
